* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    background-color: #090709;
}
.full_board{
    border: 2px solid black;
    width:640px;
    height:640px;
    display:flex;
    flex-wrap:wrap;
    margin:auto;
}
.card{
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    border:2px solid black;
    position:relative;
}
.card.flip{
    transform: rotateY(180deg); 
    backface-visibility: hidden;
}
.front-face{
    width:100%;
    height:100%;
    position:absolute;
    padding: 20px;
    background-color: rgb(43, 43, 40);
}
.back-face{
    width:100%;
    height:100%;
    position:absolute;
    padding: 20px;
    background-color: rgb(43, 43, 40);
    backface-visibility:hidden;
}
.front-face{
    transform: rotateY(180deg);
}
#score{
    text-align:left;
    color:aliceblue;
    position:absolute;
    font-size: large;
}
#time{
    text-align: left;
    color:aliceblue;
    font-size: large;
}

#restart{
   
    font-weight: bold;
    padding-right: 70px;
}
#clicks{
    text-align: left;
    font-size: large;
    color: aliceblue;
}
